<div class="w-full h-screen flex flex-col items-center justify-center page-padding">

  <form
    class="max-w-96 w-full flex flex-col bg-bg-light rounded items-center justify-center p-4 shadow-lg gap-4"
    [formGroup]="loginForm"
    (ngSubmit)="handleSubmitLoginForm()"
  >
    <h2 class="text-center text-prim text-3xl">Login</h2>
    <p class="italic text-sm">Welcome back! Let's check our your services!</p>
    <hr class="border w-full">

    <div class="input-container">
      <label for="email" class="input-label">EMAIL:</label>
      <input formControlName="email" id="email" type="email" class="input-bar" placeholder="Email" required maxlength="100" />
    </div>

    <div class="input-container">
      <label for="password" class="input-label">PASSWORD:</label>
      <input formControlName="password" id="password" type="password" class="input-bar" placeholder="Password" required maxlength="50" minlength="6" />
    </div>
    <a routerLink="/signup">Don't have an account? <span class="text-prim-light">Sign Up</span></a>

    @if (userService.loginError) {
      <p class="text-sm text-red-500 italic">{{ userService.loginError }}</p>
    }

    @if (!userService.isLoggingIn) {
      <button class="submit-btn" [disabled]="userService.isLoggingIn">Login</button>
    } @else {
      <loading-medium/>
    }
  </form>

  <!-- TODO: Add Right side of login page -->

</div>
