@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-prim: oklch(0.648 0.127 161.173);
  --color-prim-light: oklch(0.774 0.155 159.73);
  --color-prim-dark: oklch(0.276 0.048 161.007);
  --color-foreground: #4f4f4f;
  --color-background: #ececec;
  --color-bg-light: #ffffff;
}

body, html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.input-container {
  @apply flex flex-col gap-1 w-full;
}

.input-label {
  @apply font-bold text-xs;
}

.input-bar {
  @apply border rounded border-zinc-400 p-2 bg-transparent placeholder:text-zinc-400 hover:border-prim focus:border-prim focus:outline-0 duration-300;
}

.submit-btn {
  @apply px-3 py-1 bg-prim text-white rounded hover:bg-prim-light duration-300 cursor-pointer hover:shadow-xl hover:scale-95;
}

.page-padding {
  @apply lg:p-16 lg:pt-28 md:p-8 md:pt-18 p-4 pt-16;
}
